[flake8]
ignore = A005,C101,D403,F403,F405,I100,I201,W503,W504
exclude =
    migrations,
    .git,
    __pycache__,
    .venv
    env
filename= *.py
accept-encodigns=utf-8
inline-quotes=single
max-complexity=12
max-linenumber=500
max-line-length=119
multiline-quotes=double
per-file-ignores = backend-/erp/core/settings/templates/settings.dev.py:F821
